@media screen and (max-width:450px) {

    /* nav item style starts here */
    .nav-container,
    .banner1-container,
    .card-container,
    .play ,
    .nav-items-container{
        flex-direction: column;
    }

    .nav-container{
        align-items: normal;
    }

    .logo-container {
        padding: 0px;
        padding-left: 80px;
    }

    .nav-items-container {
        width: 100%;
        margin-bottom: 50px;
    }

    /* nav items styles ends here */

    /* banner1 section starts here */

    .banner1-container{
        margin: 50px;
        padding-bottom: 50px;
    }

    .banner1-title {
        padding: 0px;
        width: auto;
        margin-top: 30px;
    }

    .banner1-img{
        width: auto;
        margin-left: 70px;
        margin-top: 80px;
    }

    .banner1-img img {
        max-width: 350px;
    }

    .banner1-title p {
        margin-left: 10px;
    }

    .banner1-title button {
        margin: 0px;
    }

    /* banner1 section ends here */

    /* card container section starts here */

    .play{
        margin-top: 0px;
    }

    .card-container .card {
        margin: 30px;
    }

    .play-title {
        width: 100%;
    }

    .play-img {
        width: 20%;
        margin: 200px;
    }

    .button-container .first-row .second-row{
        flex-direction: column;
    }

    /* card container section ends here  */
}


@media screen and (min-width:450px) and (max-width:800px) {

    .nav-container,
    .card-container {
        flex-direction: column;
    }

    .logo-container {
        padding: 0px;
        width: auto;
    }

    .nav-items-container {
        width: auto;
    }

    .banner1-container {
        flex-direction: column;
        align-items: center;
    }

    .banner1-title {
        padding: 0px;
        width: auto;
        margin-top: 30px;
    }

    .banner1-img img {
        max-width: 750px;
        width: 120%;
        margin: 0 auto;
    }

    .banner1-title p {
        margin-left: 10px;
    }

    .banner1-title button {
        margin: 0px;
    }

    .card-container .card {
        margin: 0 auto;
    }
}