@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
}

/* navber section styles stats here */

nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    width: 50%;
    justify-content: stretch;
    align-items: center;
    padding-left: 200px;
}

.logo-container img {
    width: 80px;
    height: 40px;
    margin-right: 20px;
}

.logo-text {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.G-design {
    color: #FF42A5;
}

.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nav-items-container a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 122px 18px 24px;
    border: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

/* navber section styles ends here */

/* banner1 section starts here */
.banner1-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner1-title {
    width: 50%;
}

.banner1-title h3 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px;
}

.banner1-title h1 {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(249, 72, 178, 1), rgba(135, 88, 241, 1);
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
}

.banner1-title p {
    color: #534C64;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-left: 240px;
    justify-content: center;
}

.banner1-title button {
    margin-top: 40px;
}

.banner1-1 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    background-color: #FF42A5;
    border: none;
    border-radius: 48px;
    margin-left: 220px;
    margin-right: 30px;
}

.banner1-2 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    background-color: #4EC5F7;
    border: none;
    border-radius: 48px;
}

.banner1-img{
    width: 50%;
}

/* banner1 section ends here */